<!-- header -->
<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <ul class="top_icon">
                            <li class="button_login"> <a routerLink="login">Login</a> </li>
                            <li> <a routerLink="signup">Signup</a> </li>
                            <li class="mean-last">
                                <a href="#"><img src="assets/images/search_icon.png" alt="#" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->

        <!-- end header -->
        <section class="slider_section">
            <div class="banner_main">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 padding_left0">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="#game">Game</a> </li>
                                            <li> <a href="#software">Software</a> </li>
                                            <li> <a href="#about">About</a> </li>
                                            <li> <a href="#testimonial">Testimonial</a> </li>
                                            <li> <a href="#contact">Contact</a> </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                            <div class="text-bg">
                                <h1>amazing<br> 3d game</h1>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut</span>
                                <a href="#">download</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <div class="text-img">
                                <figure><img src="assets/images/img.png" alt="#" /></figure>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>
    </div>
</header>