.center {
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    width: 100%!important;
    height: 200px!important;
    object-fit: contain;
}

.card-deck {
    width: 70%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}