<div class="card-deck">
    <div class="card">
        <img src="{{game.Image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{game.Name}} </h5>
            <p class="card-text">Platform : {{game.Platform}} <br>PlayTime : {{game.Playtime}} <br>Achievement : {{game.Achievements}} </p>
            <a href="#" class="btn btn-primary">  Edit </a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>