.card-img-top {
    width: 100%!important;
    height: 200px!important;
    object-fit: contain;
}

.card-deck {
    width: 50%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}